%title-20 {
  font-size: 2rem;
  font-family: $font-george-x;

  @include media('<phone'){
   font-size: 4.8rem;
  }
}

%title-30 {
  font-size: 3rem;
  font-family: $font-george-x;

  @include media('<phone'){
   font-size: 5.2rem;
  }
}

%title-53 {
  line-height: 1;
  font-size: 5.3rem;
  font-family: $font-george-x;
}
%title-60 {
  font-size: 6rem;
  font-family: $font-george-x;
}

%title-100 {
  font-size: 10rem;
  font-family: $font-george-x;
  line-height: 1;

  @include media('<phone'){
    font-size: 12rem;
  }
}

%title-120 {
  font-size: 12rem;
  font-family: $font-george-x;
  line-height: 0.82;

@include media('<phone'){
   font-size: 18rem;
  }
}

%title-200 {
  font-size: 20rem;
  font-family: $font-george-x;


}
