$color-black: #000;
$color-white: #fff;

$color-contessa:#c97164;

$font-george-x: 'George X';
$font-suisse-bp: "Suisse";

$ease-out-expo: cubic-beizer(0.19, 1, 0.22, 1);

$z-indexes:('navigation',
  'content'
)
